.view-stub{
  &__input {
    @extend %small-padding;
    width: 300px;
    border-radius: $border-radius;
    border: 2px solid #E8E8E8;

    &-block {
      margin-bottom: 10px;
    }

  }

  &__apply {
    @extend %small-padding;
    background-color: #ffdb4d;
    font-size: 13px;
    box-shadow: none;
    border-radius: $border-radius;
    margin-left: 10px;
    border: 0;
  }

  &__label {
    width: 483px;
    background-color: #ddd;
    color: black;
    @extend %big-padding;
    border-radius: $border-radius;
  }
}