.view-stub{
  &__input {
    padding: 12px 20px;
    width: 300px;
    border-radius: 3px;
    border: 2px solid #E8E8E8;

    &-block {
      margin-bottom: 10px;
    }

  }

  &__apply {
    padding: 12px 20px;
    background-color: #ffdb4d;
    font-size: 13px;
    box-shadow: none;
    border-radius: 3px;
    margin-left: 10px;
    border: 0;
  }

  &__label {
    width: 483px;
    background-color: #ddd;
    color: black;
    padding: 16px 20px;
    border-radius: 3px;
  }
}