.view-stub{
  $input-size: 400px;
  $margin: 10px;
  $button-width: $container-size - $input-size - $margin;
  &__input {
    @extend %small-padding;
    width: $input-size;
    border-radius: $border-radius;
    border: 2px solid #E8E8E8;

    &-block {
      margin-bottom: 10px;
    }

  }

  &__apply {
    @extend %small-padding;
    background-color: #ffdb4d;
    font-size: 13px;
    box-shadow: none;
    border-radius: $border-radius;
    margin-left: $margin;
    border: 0;
    width: $button-width;
  }

  &__label {
    @extend %container-width;
    background-color: #ddd;
    color: black;
    @extend %big-padding;
    border-radius: $border-radius;
  }
}